__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

dist/
build/
src/granite_core.egg-info/
*.egg

*.whl
*.tar.gz
tests/run/

.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
*.log

.idea/
*.iml
*.iws

.DS_Store
Thumbs.db
